<%- include ("../partials/header") %>
<div>
	<div class="row">
		<div class="col-md-3">
			<div classs="lead"><div id='map' style='width: 200px; height: 300px;'></div></div>
		</div>
			
        <div class="col-md-9">
		    <div class="thumbnail">
		 		 	<img class="img-responsive" src="<%=campground.image%>">
				<div class="caption">
				 	<p><h4 class="pull-right">$<%=campground.price%>/night</h4></p>
				 	<p><a href="#"><h4><%=campground.name%></h4></a></p>
				 	<p><h4><%=campground.location%></h4></p>
				
				    <p><%=campground.description%></p>	
				
	                <p>
                    <p>
  					<em>Submitted by: <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %></em>
					</p>
                    </p>	
				<%if(currentUser && campground.author.id.equals(currentUser._id)||(currentUser && currentUser.isAdmin)){%>
				    <a class="btn btn-warning btn-md" href="/campgrounds/<%=campground._id%>/edit">Edit</a>
				    <form id="delete-form"action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
						<button  class="btn btn-danger btn-md">Delete</button>
				    </form>
				<%}%>
			       
							
				</div>
					
           			
		    </div>
		    
		    <div class="well">
				
				<div class="text-right">
					<a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New                            
					Comment</a>
				</div>
				<hr>

				<p><% campground.comment.forEach(function(comment){%>
					<div class="row">
						<div class="col-md-12">
							<p><strong><%=comment.author.username%></strong>
							<span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
							<p><%=comment.text%></p>
							<%if(currentUser && comment.author.id.equals(currentUser._id) || (currentUser && currentUser.isAdmin)){%>
				            <a class="btn btn-xs btn-warning" 
                               href="/campgrounds/<%=campground._id %>/comments/<%=comment._id %>/edit">Edit</a>
							<form id="delete-form" action="/campgrounds/<%=campground._id %>/comments/<%=comment._id %>?_method=DELETE"   								method="POST">
								<button class="btn btn-danger btn-xs">Delete</button>
								<%}%>
								
							</form>
						</div>
					</div>
				
				<%})%></p>


					
				
		
		    </div>
		
    	</div>
		
	</div>

</div>
<script>
	const campground=<%-JSON.stringify(campground)%>
</script>

<script src="/javascripts/showPageMap.js"></script>






<%- include ("../partials/footer") %>